.float 
    {
	    padding:2%;
    }
    
.social 
    {
        
        text-decoration: none;
        font-size: 30px;
        margin-right: 7.5px;
        
    }

.social a:hover{
    text-decoration: none;
}
